[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HistogramTools"]
	path = HistogramTools
	url = https://github.com/murraystokely/histogramtools
